<form novalidate (ngSubmit)="onAddParticipation()" [formGroup]="form">
    <mat-form-field class="form-field w-100">
        <mat-label>Auswählen oder neu registrieren</mat-label>
        <mat-select formControlName="addMode">
            <mat-option *ngFor="let addMode of addModes" [value]="addMode">
                {{ addMode }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <section class="w-100" *ngIf="addMode.value == AddMode.RegisteredUser">

        <mat-form-field class="form-field w-100">
            <mat-label>Teilnehmer auswählen</mat-label>
            <mat-select formControlName="user">
                <mat-option *ngFor="let user of registeredUsers" [value]="user">
                    {{ user.firstName }} {{ user.lastName }}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </section>

    <section class="w-100" *ngIf="addMode.value == AddMode.NewUser">
        <app-user-form formControlName="newUser"></app-user-form>
    </section>

    <h4 class="w-100">Gewinnlos</h4>

    <mat-form-field class="form-field w-100">
        <mat-label>Gewinnlos</mat-label>
        <mat-select formControlName="ticket">
            <mat-option *ngFor="let ticket of freeTickets" [value]="ticket">
                L{{ ticket.list }}N{{ ticket.number }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field w-100">
        <input matInput [matDatepicker]="startDatePicker" placeholder="Beginn" formControlName="start">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-dialog-actions class="flex end">
        <button class="mat-stroked-button mat-button-base mat-primary" type="button" (click)="onFromStartOfYear()">
            Ab Jahresbeginn
        </button>
        <button class="mat-stroked-button mat-button-base mat-primary" type="button" (click)="onFromNextQuarter()">
            Ab nächstem Quartal
        </button>
    </mat-dialog-actions>

    <mat-form-field class="form-field w-100">
        <input matInput [matDatepicker]="endDatePicker" placeholder="Ende" formControlName="end">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>

    <button class="mat-raised-button mat-primary right" type="submit" [disabled]="form.invalid">Hinzufügen</button>
</form>