<section class="flex">
<mat-card class="w-70 distant">
  <mat-table [dataSource]="participations">
    <ng-container matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row._id }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>Vorname</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.user.firstName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Nachname</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.user.lastName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="ticket">
      <mat-header-cell *matHeaderCellDef>Gewinnlos</mat-header-cell>
      <mat-cell *matCellDef="let row">L{{ row.ticket.list }}N{{ row.ticket.number }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="start">
      <mat-header-cell *matHeaderCellDef>Beginn</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.start | date: 'dd.MM.yyyy' }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="end">
      <mat-header-cell *matHeaderCellDef>Ende</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.end ? (row.end | date: 'dd.MM.yyyy') : 'offen' }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Aktionen</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button class="mat-stroked-button mat-primary" (click)="onEndParticipation(row._id)">Beenden</button>
        <button class="mat-stroked-button mat-primary" (click)="onRemoveParticipation(row._id)">Löschen</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"
             id="{{ row._id }}"
             (click)="onRowClicked(row)">
    </mat-row>
  </mat-table>
</mat-card>
  
<mat-card id="add-participation" class="w-30 distant">
  <app-add-participation></app-add-participation>
</mat-card>
</section>