<h2 mat-dialog-title>{{ noun }} benachrichtigen</h2>

<form novalidate [formGroup]="form">

<mat-dialog-content>
  <p>Soll <strong>{{ winner.user.firstName }} {{ winner.user.lastName }}</strong> über {{ possessivePronoun }} Gewinn benachrichtigt werden?</p>

  <mat-form-field class="form-field w-100">
    <input matInput type="text" placeholder="E-Mail-Adresse" formControlName="email">
  </mat-form-field>

  <mat-form-field class="form-field w-100">
    <input matInput type="text" placeholder="Betreff" formControlName="reference">
  </mat-form-field>

  <mat-form-field class="form-field w-100">
    <textarea matInput placeholder="Nachricht" formControlName="content" class="h-200px">
    </textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions class="flex end gap-sm">
  <button mat-stroked-button color="primary" (click)="close()">Abbrechen</button>
  <button mat-raised-button color="warn" (click)="doNotInform()">Nicht benachrichtigen</button>
  <button mat-raised-button color="primary" (click)="sendMail()">Mail senden</button>
</mat-dialog-actions>

</form>