<h2 mat-dialog-title>Gewinn auszahlen</h2>

<form novalidate [formGroup]="form">

<mat-dialog-content>
  <section class="flex">
    <div>
      <p>Für die Gewinnausschüttung von <strong>{{ profit }} €</strong> an <strong>{{ firstName }} {{ lastName }}</strong> per Banküberweisung den nebenstehenden <strong>Giro Pay Code</strong> mit deiner Bank-App scannen und die vorausgefüllte Überweisung tätigen.</p>
      <p>Falls die Auszahlung bereits zu einem früheren Zeitpunkt stattfand, bitte das Auszahlungsdatum entsprechend anpassen. Abschließend bitte die Gewinnausschüttung hier mit <i>Ausgezahlt</i> bestätigen.</p>  
    </div>
    <div style="width:160px">
      <qr-code class="qrcode" [value]="giroCode" [size]="160"></qr-code>
        <mat-form-field class="form-field w-100">
          <input matInput [matDatepicker]="datePicker" placeholder="Auszahlung" formControlName="paidOn">
          <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
    </div>
  </section>
</mat-dialog-content>

<mat-dialog-actions class="flex end">
  <button mat-stroked-button color="primary" (click)="close()">Abbrechen</button>
  <button mat-raised-button color="primary" type="submit" (click)="paid()">Ausgezahlt</button>
</mat-dialog-actions>

</form>