<h2 mat-dialog-title>Teilnehmer:innen löschen</h2>
<mat-dialog-content>
  <section *ngIf="users.length > 1; then deleteMany; else deleteOne"></section>

  <ng-template #deleteMany>
    <p>Sollen die Teilnehmerinnen und Teilnehmer <span class="separated" *ngFor="let u of users"><strong>{{ u.firstName }} {{ u.lastName }}</strong></span> gelöscht werden?</p>
  </ng-template>

  <ng-template #deleteOne>
    <p>Soll der/die Teilnehmer:in <span class="separated" *ngFor="let u of users"><strong>{{ u.firstName }} {{ u.lastName }}</strong></span> gelöscht werden?</p>
  </ng-template>

</mat-dialog-content>
<mat-dialog-actions class="flex end">
  <button mat-stroked-button color="primary" (click)="close()">Abbrechen</button>
  <button mat-raised-button color="warn" (click)="yes()">Löschen</button>
</mat-dialog-actions>