<h2 mat-dialog-title>Teilnahme beenden</h2>
<mat-dialog-content>
  <p>Zu wann soll die Teilnahme von <strong>{{ firstName }} {{ lastName }}</strong> mit dem Gewinnlos <strong>{{ ticket }}</strong> beendet werden?</p>
</mat-dialog-content>
<mat-dialog-actions class="flex end">
  <button mat-stroked-button color="primary" (click)="close()">Abbrechen</button>
  <button mat-raised-button color="primary" (click)="endAtEndOfQuarter()">Zum Quartalsende</button>
  <button mat-raised-button color="primary" (click)="endAtEndOfYear()">Zum Jahresende</button>
  <button mat-raised-button color="warn" (click)="endToday()">Heute</button>
</mat-dialog-actions>