<section class="flex center h-100">
  <form [formGroup]="formGroup" class="w-300px">
  <mat-toolbar class="toolbar" color="primary">Anmelden</mat-toolbar>
  <mat-card class="flex between wrap">

    <mat-form-field class="form-field w-100">
      <input type="text" matInput placeholder="E-Mail-Adresse" formControlName="email">
    </mat-form-field>

    <div *ngIf="email.invalid && (email.dirty || email.touched)"
      class="alert">
      <div *ngIf="email.errors?.['required']" class="form-field error">
        E-Mail ist verpflichtend
      </div>
      <div *ngIf="email.errors?.['email']" class="form-field error">
        Es muss eine valide E-Mail-Adresse sein
      </div>
    </div>
  
    <mat-form-field class="form-field w-100">
      <input type="password" matInput placeholder="Passwort" formControlName="password">
    </mat-form-field>
    <div *ngIf="password.invalid && (password.dirty || password.touched)"
      class="alert">
      <div *ngIf="password.errors?.['required']" class="form-field error">
        Passwort ist verpflichtend
      </div>
    </div>
  
    <div *ngIf="showRetype">
      <mat-form-field class="form-field w-100">
        <input autofocus type="password" matInput placeholder="Passwort wiederholen" formControlName="retypePassword">
      </mat-form-field>
    </div>

    <div *ngIf="showChangePassword">
      <mat-form-field class="form-field w-100">
        <input autofocus type="password" matInput placeholder="Neues Passwort" formControlName="newPassword">
      </mat-form-field>
      <mat-form-field class="form-field w-100">
        <input autofocus type="password" matInput placeholder="Neues Passwort wiederholen" formControlName="retypeNewPassword">
      </mat-form-field>
    </div>

    <button mat-flat-button class="blue-text" (click)="onRegister()">Noch keinen Account?</button>
    <button mat-raised-button color="primary" (click)="onLogin()">Anmelden</button>
    <div *ngIf="errorMessage != ''" class="form-field error">{{ errorMessage }}</div>

  </mat-card>
  </form>
</section>  