<mat-toolbar color="primary">
  <span>{{title}}</span>
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [disabled]="!auth.isLoggedIn" routerLink="/change-password-component">Passwort ändern</button>
    <button mat-menu-item [disabled]="!auth.isLoggedIn" (click)="onLogout()">Abmelden</button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
