<mat-tab-group>
  <mat-tab label="Worklist">
    List with draw, winningnumber, winning person and a checkbox. The checkbox
    is ticked, if the money was transfered.
  </mat-tab>
  <mat-tab label="All draws this year">
    <app-lotterydata></app-lotterydata>
  </mat-tab>
  <mat-tab label="Participants">
    Data with all persons, including id, name, email and iban
  </mat-tab>
  <mat-tab label="Assignments">
    assignment of participants to the entries -> array of drawobjects, each
    object having 49 number attributes, in which the id of the participant is in
  </mat-tab>
</mat-tab-group>
