<section fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center start" fxLayoutGap="16px"
  class="padded">
  
  <mat-card fxFlex="3 1 auto">
    <h2>Gewinner</h2>

    <div class="flex center padded" *ngIf="winnersLoading">
      <mat-spinner diameter="50"></mat-spinner>
    </div>

    <div *ngIf="winners.length == 0 && !winnersLoading">
      <p>Für den gewählten Zeitraum gibt es keine Gewinner</p>
    </div>
    
    <mat-table [dataSource]="winners" *ngIf="winners.length > 0">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef class="grow-3">Name</mat-header-cell>
        <mat-cell *matCellDef="let winner" class="grow-3">{{ winner.user.firstName }} {{ winner.user.lastName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="ticket">
        <mat-header-cell *matHeaderCellDef fxHide.lt-md="true" class="grow-1">Gewinnlose</mat-header-cell>
        <mat-cell *matCellDef="let winner" fxHide.lt-md="true" class="grow-1">
          <div class="flex wrap gap-sm">
            <span *ngFor="let ticket of winner.tickets">L{{ ticket.list }}N{{ ticket.number }}</span>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="week">
        <mat-header-cell *matHeaderCellDef class="grow-1">Woche</mat-header-cell>
        <mat-cell *matCellDef="let winner" class="grow-1">{{ winner.draw.date | date: 'w' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="profit">
        <mat-header-cell *matHeaderCellDef fxHide.lt-lg="true" class="grow-1">Gewinn</mat-header-cell>
        <mat-cell *matCellDef="let winner" fxHide.lt-lg="true" class="grow-1">{{ winner.profit }} €</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="grow-2"></mat-header-cell>
        <mat-cell *matCellDef="let winner" class="grow-2">
          
          <section fxHide.gt-md="true">
            <button mat-icon-button [matMenuTriggerFor]="menu" class="show-on-hover">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <button class="mat-icon-button mat-primary"
                    *ngIf="winner.informedOn && winner.paidOn"
                    title="Bearbeitung zurücksetzen"
                    (click)="onResetWinner(winner._id)">
              <span class="mat-button-wrapper">
                <mat-icon>check_circle_outline</mat-icon>
              </span>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onResetWinner(winner._id)">
                Bearbeitung zurücksetzen
              </button>
              <button mat-menu-item (click)="onInform(winner._id)"
                    [disabled]="(winner.informedOn && winner.informedOn != '')">
                {{ createInformText(winner) }}
              </button>
              <button mat-menu-item (click)="onPay(winner._id)"
                    [disabled]="(winner.paidOn && winner.paidOn != '')" *ngIf="winner.user.payment.iban">
                {{ createPayText(winner) }}
              </button>
              <button mat-menu-item (click)="onDeleteWinner(winner._id)">
                Gewinn löschen
              </button>
            </mat-menu>
          </section>
          
          <section fxHide.lt-lg="true">
            <button class="mat-icon-button mat-primary show-on-hover"
                    title="{{ createInformText(winner) }}"
                    (click)="onInform(winner._id)" [disabled]="winner.informedOn">
              <span class="mat-button-wrapper">
                <mat-icon>mail_outline</mat-icon>
              </span>
            </button>
            <button class="mat-icon-button mat-primary show-on-hover"
                    *ngIf="winner.user.payment.iban"
                    title="{{ createPayText(winner) }}"
                    (click)="onPay(winner._id)" [disabled]="winner.paidOn">
              <span class="mat-button-wrapper">
                <mat-icon>payment</mat-icon>
              </span>
            </button>
            <button class="mat-icon-button mat-primary show-on-hover"
                    title="Gewinn löschen" (click)="onDeleteWinner(winner._id)">
              <span class="mat-button-wrapper">
                <mat-icon color="warn">delete_outline</mat-icon>
              </span>
            </button>
            <button class="mat-icon-button mat-primary"
                    *ngIf="winner.informedOn && winner.paidOn"
                    title="Bearbeitung zurücksetzen"
                    (click)="onResetWinner(winner._id)">
              <span class="mat-button-wrapper">
                <mat-icon>check_circle_outline</mat-icon>
              </span>
            </button>
          </section>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="winnersColumns"></mat-header-row>
      <mat-row *matRowDef="let winner; columns: winnersColumns"></mat-row>
    </mat-table>
  </mat-card>

  <mat-card fxFlex="1 1 auto">
    <h2>Ziehungen</h2>

    <div class="flex center padded" *ngIf="drawsLoading">
      <mat-spinner diameter="50"></mat-spinner>
    </div>

    <div *ngIf="draws.length == 0 && !drawsLoading">
      <p>In dem gewählten Jahr gab es keine Ziehungen</p>
    </div>

    <mat-table [dataSource]="draws.export()" *ngIf="draws.length > 0 && !drawsLoading">
      <ng-container matColumnDef="week">
        <mat-header-cell *matHeaderCellDef class="grow-1">Woche</mat-header-cell>
        <mat-cell *matCellDef="let draw" class="grow-1">{{ draw.date | date: 'w' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef fxHide.lt-lg="true" class="grow-2">Datum</mat-header-cell>
        <mat-cell *matCellDef="let draw" fxHide.lt-lg="true" class="grow-2">{{ draw.date | date: 'dd.MM.yyyy' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="numbers">
        <mat-header-cell *matHeaderCellDef class="grow-3">Gewinnzahlen</mat-header-cell>
        <mat-cell *matCellDef="let draw" class="grow-3 inner-shadow white">
          <div class="flex gap-sm">
            <span *ngFor="let n of draw.numbers" class="tile">{{n}}</span>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="grow-1"></mat-header-cell>
        <mat-cell *matCellDef="let draw" class="grow-1">
          <button class="mat-icon-button mat-primary"
                  [ngClass]="draws.isTagged(draw) ? 'rotating' : 'show-on-hover'"
                  title="Gewinner erneut ermitteln"
                  [disabled]="draws.isTagged(draw)"
                  (click)="onReEvaluateDraw(draw._id)">
            <span class="mat-button-wrapper">
              <mat-icon>autorenew</mat-icon>
            </span>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="drawsColumns"></mat-header-row>
      <mat-row *matRowDef="let draw; columns: drawsColumns"
               [ngClass]="draws.isTagged(draw) ? 'pulsating' : ''">
      </mat-row>

    </mat-table>
  </mat-card>

</section>