html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*, *:before, *:after {
    box-sizing: border-box;
}

p {
    line-height: 1.5;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.flex.center {
    align-items: center;
    justify-content: center;
}

.flex.end {
    align-items: flex-end;
    justify-content: flex-end;
}

.w-100 { width: 100%; }
.w-90 { width: 90%; }
.w-80 { width: 80%; }
.w-70 { width: 70%; }
.w-60 { width: 60%; }
.w-50 { width: 50%; }
.w-40 { width: 40%; }
.w-30 { width: 30%; }
.w-20 { width: 20%; }
.w-10 { width: 10%; }

.w-100.distant { width: calc(100% - 32px); }
.w-90.distant { width: calc(90% - 32px); }
.w-80.distant { width: calc(80% - 32px); }
.w-70.distant { width: calc(70% - 32px); }
.w-60.distant { width: calc(60% - 32px); }
.w-50.distant { width: calc(50% - 32px); }
.w-40.distant { width: calc(40% - 32px); }
.w-30.distant { width: calc(30% - 32px); }
.w-20.distant { width: calc(20% - 32px); }
.w-10.distant { width: calc(10% - 32px); }

.distant {
    margin: 16px;
}

.h-100 {
    height: calc(100% - 64px);
}

.login-form {
    width: 300px;
}

.mat-table {
    width: 100%;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.mat-dialog-container {
    min-width: 400px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.mat-toolbar.mat-primary {
    display: flex;
    justify-content: space-between;
}

.mat-row {
    align-items: flex-start;
}

.mat-cell button + button {
    margin-left: 4px;
}

.tile {
    background: #f2f3f4;
    padding: 5px;
    text-align: center;
    width: 27px;
}

.tile + .tile {
    margin-left: 5px;
}

.tile:first-of-type {
    background-color: #25ac00;
    color: white;
    font-weight: bold;
}

.text + .text:before {
    content: ", ";
}